!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Sherbert Title Suggestions
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    %div.container
      %table{:class => "table table-striped"}
        %thead
          %tr
            %td Name
            %td Title
            %td Votes
        %tbody
          - unless @titles.empty?
            - @titles.each do |title|
              %tr
                %td.name= title[:name]
                %td.title= title[:title]
                %td.votes= title[:votes]
                %td
                  %button{:id => title[:id]} up
    %script{:src => "jquery-2.1.3.min.js"}
    %script{:src => "jquery.cookie.js"}
    %script{:src => "app.js"}
    %script{:src => "js/bootstrap.min.js"}